<?xml version="1.0"?>
<config>
    <modules>
        <Unitpay_Unitpay>
            <version>1.0.1.0</version>
        </Unitpay_Unitpay>
    </modules>
    <global>
        <models>
            <unitpay>
                <class>Unitpay_Unitpay_Model</class>
            </unitpay>
        </models>
        <blocks>
            <unitpay>
                <class>Unitpay_Unitpay_Block</class>
            </unitpay>
        </blocks>
        <helpers>
            <unitpay>
                <class>Unitpay_Unitpay_Helper</class>
            </unitpay>
        </helpers>
    </global>
    <default>
        <payment>
            <unitpay>
                <active>1</active>
                <model>unitpay/payment</model>
                <order_status>pending_payment</order_status>
                <title>Unitpay payment system</title>
                <fee_payer>buyer</fee_payer>
                <allowspecific>0</allowspecific>
            </unitpay>
        </payment>
    </default>
    <frontend>
        <routers>
            <unitpay>
                <use>standard</use>
                <args>
                    <module>Unitpay_Unitpay</module>
                    <frontName>unitpay</frontName>
                </args>
            </unitpay>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Unitpay_Unitpay>
                    <files>
                        <default>Unitpay_Unitpay.csv</default>
                    </files>
                </Unitpay_Unitpay>
            </modules>
        </translate>
    </adminhtml>
</config>
